
h1 {
    color: #1100ff;
    background-color:yellow;
    font-size: 50px;
    font-weight: bolder;
    height: 100px;
}


p {
    color: green;
    background-color:yellow;
    font-size: 50px;
    font-weight: bolder;
    height: 200px;
}


img {
    height: auto;
    width: 500px;
}

