* {
    
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: bisque;
}

.menu-container {
    color: #fff;
    background-color: #5995DA; /* blue */
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.menu {
   /* for debugging */
    width: 900px;
    display: flex;
    justify-content: space-around;
}


.login {
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.signup {
    margin-left: auto;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(182, 144, 179);
    width: 100%;
    height: 100%;
    flex: 1 2 150px;
    object-fit: cover;
    padding: 1%;
    align-items: center;
    border-radius: 5%;
    margin-bottom: 2%;
}

.img {

    min-height:fit-content;
}

p {
    background-color: rgb(115, 199, 188);
    padding: 2%;
    border: blue;
    border-radius: 10%;
    border-color: #5995DA;
    border-width: 5px;
    margin-bottom: 2%;
    margin-left:auto;
    
}

footer {
    background-color: aquamarine;
   

}

.another {
    color: #fff;
    background-color: #5995DA; /* blue */
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    
}

